@model Vidly.Models.Movie


<h2>@Model.Name</h2>

<li>Genre: @Model.Genre.Name</li>
<li>Release Date: @String.Format("{0:dddd, MMMM d, yyyy}", Model.ReleaseDate)</li>
<li>Added Date: @String.Format("{0:dddd, MMMM d, yyyy}", Model.DateAdded)</li>
<li>Number in Stock: @Model.NumberInStock</li>

